[user]
	name = rch850
	email = rich850@gmail.com
[include]
	path = ~/dotfiles/gitalias.txt
[commit]
	template = ~/dotfiles/.commit_template
[ghq]
	root = ~/repos

[core]
	excludesfile = ~/.gitignore_global

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
